<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a spot</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/add_spot}"
                  th:object="${spot}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('longitudine')}" th:errors="*{longitudine}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{longitudine}" placeholder="Longitude"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                <div class="col-sm-9">
                    <label th:if="${#fields.hasErrors('latitudine')}" th:errors="*{latitudine}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{latitudine}" placeholder="Longitude"
                           class="form-control"/>
                </div>
            </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('windProbability')}" th:errors="*{windProbability}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{windProbability}" placeholder="wind Probability"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{country}" placeholder="Country"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('whenToGo')}" th:errors="*{whenToGo}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{whenToGo}" placeholder="When to go"
                               class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add spot</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
    </div>
</div>

</body>
</html>